<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/session/dologin}" th:object="${user}" method="post">
  <input type="text" th:field="*{email}" placeholder="email...">
  <input type="text" th:field="*{password}" placeholder="password...">
  <button type="submit">login</button>
</form>
<h2 th:if="session.userLogin!= null" th:text="${session.userLogin.email}"></h2>
<span th:if="${user.email!= null}" th:text="${user.password}"></span>
<span th:if="${loin!= null}" th:text="${loin}"></span>
<span th:text="${message}"></span>
</body>
</html>